{erl_opts, [debug_info]}.
{deps, [
	{ra, {git, "https://github.com/rabbitmq/ra", {ref, "a75fdec7c6ecfc8e1dcc92251f421b34f6a14069"}}}
]}.

% Release configuration, see https://www.rebar3.org/docs/releases
{relx, [
	{release, {"repbet", "0.0.1"}, [repbet]},
	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}
]}.